<template>
	<NuxtLayout>
		<main>
			<NuxtPage />
		</main>
	</NuxtLayout>
</template>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

	:root {
		--color01: orange;
		--color02: dodgerblue;
		--color03: rgba(19, 19, 19, 1);
		--color04: #fff;
	}

	* {
		margin: 0;
		padding: 0;
	}

	html {
		font-size: 16px;
		font-family: 'Rajdhani', sans-serif;
		color: var(--color03);
	}

	h1 {
		font-size: 3rem;
		color: var(--color01);
	}
	form input, form button {
		width: 20rem !important;
		padding: 1rem !important;
	}
	form input:focus {
		outline: none !important;
	}
	form input.error {
		border: 1px solid red;
	}
	form input.error + label {
		color: red;
	}
</style>
