<script lang="ts" setup></script>

<template>
	<footer class="footer-app">
		Created & Design By LK
	</footer>
</template>

<style scoped>
	.footer-app {
		margin-top: 2rem;
		background: #363636;
		color: var(--color04);
		padding: 2rem;
		text-align: center;
	}
</style>
