<script lang="ts" setup></script>

<template>
	<header class="header-app">
		<NuxtLink to="/">
			<i class="pi pi-book"></i>
		</NuxtLink>
		<nav>
			<NuxtLink to="/signin">Sign In</NuxtLink>
		</nav>
	</header>
</template>

<style scoped>
	.header-app {
		background: var(--color04);
		box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem;
	}
	.header-app > a {
		background: var(--color01);
		color: var(--color04);
		width: 3.5rem;
		height: 3.5rem;
		display: grid;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		text-decoration: none;
	}
	.header-app > a .pi-book {
		font-size: 1.2rem;
	}
	nav {}
	nav a {
		font-size: 1.2rem;
		text-decoration: none;
		color: var(--color02);
		font-weight: 600;
	}
</style>
