<script lang="ts" setup>

</script>

<template>
	<section id="app">
		<header-app/>
		<slot />
		<footer-app/>
	</section>
</template>

<style scoped>
	#app {
		min-height: 100vh;
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: auto 1fr auto;
	}

	#app > main {}
</style>
