<script lang="ts" setup>
	definePageMeta({
		key: "detailArticle",
		layout: "general"
	})
	let route = useRoute() 
	let router = useRouter() 
</script>

<template>
	<div>
		Page: detail {{ $route.params.id }}
	</div>
</template>

<style scoped></style>
