<script setup>
	definePageMeta({
		key: "home",
		layout: "general"
	})

	let articles = useArticles()
	let blogers = useBlogers()
	let categories = useCategories()

	articles.list.map((article) => {
		blogers.list.filter((bloger) => {
			if(bloger.id == article.bloger) {
				article.bloger = bloger
			}
		})
		categories.list.filter((category) => {
			if(category.id == article.category) {
				article.category = category
			}
		})
	})
</script>

<template>
	
</template>

<style scoped>

</style>
