<script setup>
	definePageMeta({
		layout: "general",
		middleware: "logged"
	})
	let form = reactive({
		data: {
			email: "",
			password: "",
		},
		error: false
	})
	let blogers = useBlogers()
	const signin = () => {
		blogers.signin({ 
			email: form.data.email,
			password: form.data.password,
		})
	}
</script>

<template>
	<section class="container">
		<form>
			<span class="p-float-label">
				<InputText id="email" type="text" @keypress.enter="signin()" v-model="form.data.email" />
				<label for="email">Email</label>
			</span>
			<span class="p-float-label">
				<InputText id="password" type="password" @keypress.enter="signin()" v-model="form.data.password" />
				<label for="password">Password</label>
			</span>
			<Button label="Login" @click="signin()" />
		</form>
		<section class="info">
			Don't You Have An Account? <NuxtLink to="signup">Sign Up</NuxtLink> Please!
		</section>
	</section>
</template>

<style scoped>
	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 2rem;
	}
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2.2rem;
	}
	.info {
		font-size: 1.1rem;
		text-align: center;
	}
	.info a {
		color: var(--color02);
		text-decoration: none;
	}
	.info a:hover {
		text-decoration: underline;
	}
</style>
