<script setup>
	definePageMeta({
		layout: "general"
	})
	let blogers = useBlogers()
	let form = reactive({
		data: {
			fname: "",
			lname: "",
			email: "",
			password: "",
		},
		error: {
			fname: false,
			lname: false,
			email: false,
			password: false,
		}
	})
	const save = () =>{
		// check fname
		if(!form.data.fname.trim()) {
			form.error.fname = true
		}
		else {
			form.error.fname = false
		}
		// check lname
		if(!form.data.lname.trim()) {
			form.error.lname = true
		}
		else {
			form.error.lname = false
		}
		// check email
		let existEmail = false
		for(let bloger of blogers.list) {
			if(bloger.email == form.data.email) {
				existEmail = true
			}
		}
		let isEmail = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(form.data.email)
		if(!isEmail || existEmail) {
			form.error.email = true
		}
		else {
			form.error.email = false
		}
		// check password
		if(!form.data.password.trim()) {
			form.error.password = true
		}
		else {
			form.error.password = false
		}

		if(!form.error.fname && !form.error.lname && !form.error.email && !form.error.password) {
			let { fname, lname, email, password } = form.data
			blogers.save({ fname, lname, email, password })
		}
	}
</script>

<template>
	<section class="container">
		<header>
			<h1>Registration</h1>
		</header>
		<form>
			<section class="inputs">
				<section class="name">
					<span class="p-float-label">
						<InputText id="fname" :class="{ 'error': form.error.fname }" type="text" v-model="form.data.fname" @keypress.enter="save()"/>
						<label for="fname">First Name</label>
					</span>
					<span class="p-float-label">
						<InputText id="lname" :class="{ 'error': form.error.lname }" type="text" v-model="form.data.lname" @keypress.enter="save()"/>
						<label for="lname">Last Name</label>
					</span>
				</section>
				<section class="login">
					<span class="p-float-label">
						<InputText id="email" :class="{ 'error': form.error.email }" type="text" v-model="form.data.email" @keypress.enter="save()"/>
						<label for="email">Email</label>
					</span>
					<span class="p-float-label">
						<InputText id="password" :class="{ 'error': form.error.password }" type="password" v-model="form.data.password" @keypress.enter="save()"/>
						<label for="password">Password</label>
					</span>
				</section>
			</section>
			<Button label="Login" @click="save()"/>
		</form>
	</section>
</template>

<style scoped>
	.container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		height: 100%;
	}
	header {
		padding: 2rem;
	}
	form {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 2.2rem;
		justify-content: center;
		align-items: center;
		padding: 2rem;
	}
	.inputs {
		display: flex;
		flex-direction: column;
		gap: 2.2rem;
	}
	.name {
		display: flex;
		flex-direction: row;
		gap: 2.2rem;
		flex-wrap: wrap;
		justify-content: center;
	}
	.login {
		display: flex;
		flex-direction: row;
		gap: 2.2rem;
		flex-wrap: wrap;
		justify-content: center;
	}
</style>
