<script setup>
definePageMeta({
	layout: "general"
})
</script>

<template>
	<div class="container">
		<h1>Test</h1>
		<form action="">
			<InputText type="text" placeholder="email" />
			<InputText type="password" placeholder="password" />
			<Button label="login" />
		</form>
		
	</div>
</template>

<style scoped>
	.container {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		height: 100%;
	}
	form {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
	}
	button {
		width: 50px;
		height: 20px;
		flex-grow: 1;
	}
</style>
